<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>


  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" 
      *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>
          <ion-img src="/assets/foto.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum dolorum quam veniam cumque tenetur totam aut iste magnam, distinctio quibusdam laudantium quae dolores autem natus doloribus repellat obcaecati fugiat est.
          Distinctio, fugit! Asperiores at cupiditate ipsam sed? Obcaecati, sapiente soluta ea qui omnis alias exercitationem magni dicta incidunt maiores, enim ducimus debitis quibusdam maxime nobis explicabo, in blanditiis a sed.
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
