<app-header titulo="Cards"> </app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vel ullam eos delectus alias! Quo nihil, alias sequi earum nostrum voluptate mollitia repudiandae molestiae minus aliquid, architecto nobis laboriosam ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sapiente nihil magnam ipsa assumenda. Dolorum cupiditate consectetur minus odio esse porro illum odit necessitatibus magnam blanditiis, ad optio suscipit cum?
    </ion-card-content>

  </ion-card>
  

  <ion-card>
    <img src="https://media.tycsports.com/files/2022/02/02/385958/spider-man-no-way-home_862x485_wmk.jpg" alt="">

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>
